<mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button class="example-icon mat-icon-no-color"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" class="width-300">
        <mat-nav-list>
            <mat-list-item *ngFor="let menu of menus" [routerLink]="menu.route" >
                <mat-icon  matListItemIcon color="primary">{{menu.icon}}</mat-icon>
                <a matListItemTitle>
                    {{ menu.name }}</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>